[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
plotly = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"
nbformat = "*"

[requires]
python_version = "3.10"
