body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #007acc;
}

section {
    max-width: 1300px;
    margin: 100px auto;
    background-color: #2e2e2e;
    padding: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    animation: fadeIn 1s ease-out;
}

h1, h2 {
    color: #ffffff;
}

p, ul li {
    line-height: 1.8;
    color: #f1f1f1;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #1a1a1a;
    margin: 5px 0;
    padding: 12px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: 0;
}

ul li:hover:before {
    animation: pulsatingOutline 1.5s infinite;
    border-color: #007acc;
}

.button {
    display: inline-block;
    background-color: #007acc;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 6px;
    z-index: 0;
}

.button:hover:before {
    animation: pulsatingOutline 1.5s infinite;
    border-color: #005a99;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #007acc;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulsatingOutline {
    0%, 100% {
        border-width: 2px;
        opacity: 0.5;
    }
    50% {
        border-width: 4px;
        opacity: 1;
    }
}


body > section > h1 {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

body > section:nth-child(2) > h2:nth-child(3) {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

body > section:nth-child(2) > p:nth-child(2) {
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    opacity: 0.5;
    color: white;
}

