<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThePrism - Call Volume Data Analysis Project</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>

    <header>
        Dashboard
    </header>

    <section>
        <iframe src="../static/graphs/dashboard_vis_09.html" 
        width="1300px" 
        height="800px" 
        style="border: none; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"
        title="Data Visualization">
        </iframe>
    </section>

    <script src="../static/js/interaction.js"></script>

</body>
</html>
