<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThePrism - Call Volume Data Analysis Project</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        Welcome to Prism
    </header>

    <section>
        <h1>Overview</h1>
        <p>
            <strong>Prism</strong> is designed to provide a versatile data analysis platform to provide actionable insights into operational efficiency. This dashboard focuses on analyzing case volume data alongwith key performance indicators (KPIs), helping optimize customer service operations.
        </p>

        <h2>Objective</h2>
        <ul>
            <li>Detailed case volume analysis</li>
            <li>Tracking of KPI metrics</li>
            <li>Insightful reporting on traffic patterns and agent performance</li>
        </ul>

        <a href="dashboard.html" class="button">Dashboard</a>
    </section>

    <script src="../static/js/interaction.js"></script>

</body>
</html>
